In [3]:
import pandas as pd
#csv파일 tsv파일
#.기준   탭기준

df= pd.read_csv("gapminder.tsv",sep='\t') #탭을 기준으로 데이터를 나누어

In [4]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [5]:
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [7]:
df[['country','year','pop']]

          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
...           ...   ...       ...
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

In [8]:
df.loc[0] #이름

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [10]:
df.iloc[0] #위치

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [11]:
df.loc[[0,10,100,1000]] #이름

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
100    Bangladesh      Asia  1972   45.252  70759295   630.233627
1000     Mongolia      Asia  1972   53.754   1320500  1421.741975

In [12]:
df.iloc[[0,10,100,1000]] #위치

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
100    Bangladesh      Asia  1972   45.252  70759295   630.233627
1000     Mongolia      Asia  1972   53.754   1320500  1421.741975

In [14]:
#행열
df.loc[[0,10,100,1000],['country','year']] #이름

          country  year
0     Afghanistan  1952
10    Afghanistan  2002
100    Bangladesh  1972
1000     Mongolia  1972

In [15]:
df.iloc[[0,10,100,1000],[0,2]] #위치

          country  year
0     Afghanistan  1952
10    Afghanistan  2002
100    Bangladesh  1972
1000     Mongolia  1972

In [16]:
df.loc[:,['country','pop']] #이름

          country       pop
0     Afghanistan   8425333
1     Afghanistan   9240934
2     Afghanistan  10267083
3     Afghanistan  11537966
4     Afghanistan  13079460
...           ...       ...
1699     Zimbabwe   9216418
1700     Zimbabwe  10704340
1701     Zimbabwe  11404948
1702     Zimbabwe  11926563
1703     Zimbabwe  12311143

[1704 rows x 2 columns]

In [17]:
df.iloc[:,[0,2]] #위치

          country  year
0     Afghanistan  1952
1     Afghanistan  1957
2     Afghanistan  1962
3     Afghanistan  1967
4     Afghanistan  1972
...           ...   ...
1699     Zimbabwe  1987
1700     Zimbabwe  1992
1701     Zimbabwe  1997
1702     Zimbabwe  2002
1703     Zimbabwe  2007

[1704 rows x 2 columns]