In [1]:
import pandas as pd

# 특정 위치 날씨 정보 데이터
person = pd.read_csv("survey_person.csv") # 관측한 사람 이름 데이터
site = pd.read_csv("survey_site.csv") # 관측 위치 데이터
survey = pd.read_csv("survey_survey.csv") # 날씨 정보 데이터
visited = pd.read_csv("survey_visited.csv") # 관측 날짜

In [2]:
person

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [3]:
site

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [4]:
survey

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [5]:
visited

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [10]:
a= site.merge(visited,left_on='name',right_on='site')
a = a[['ident','site','dated', 'lat','long']]

a

   ident   site       dated    lat    long
0    619   DR-1  1927-02-08 -49.85 -128.57
1    622   DR-1  1927-02-10 -49.85 -128.57
2    844   DR-1  1932-03-22 -49.85 -128.57
3    734   DR-3  1939-01-07 -47.15 -126.72
4    735   DR-3  1930-01-12 -47.15 -126.72
5    751   DR-3  1930-02-26 -47.15 -126.72
6    752   DR-3         NaN -47.15 -126.72
7    837  MSK-4  1932-01-14 -48.87 -123.40

In [14]:
a=person.merge(survey, left_on= 'ident',right_on = 'person')
a[['ident','personal','family','taken','quant','reading']]
a

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25