# 09.함수(Function)

## 복습해볼까요?(1단계)

### 문제1
"Hello!"를 출력하는 함수 func1()을 만든 뒤, func1을 호출해보세요.

In [ ]:
def func1():
  return print("Hello!")

func1()

Hello!

### 문제2
정수 1개를 인자로 입력하면 10을 곱한 뒤 값을 출력하는 함수 func2()을 만든 뒤, func2(10)을 실행해보세요.

In [ ]:
def func2(a):
  return a*10

func2(10)

100

### 문제3
정수를 입력받아 그 값을 반환하는 함수 func3()을 만든 뒤, 아래 코드를 실행하세요.

In [ ]:
def func3(a):
  return a

In [ ]:
b=input()
num = func3(b)
print('입력된 정수 : ', num)

2
입력된 정수 :  2

### 문제4
두 개의 정수를 인자로 받아 두 수의 합을 반환하는 함수 func4()를 만든 뒤, 아래 결과와 같이 출력하세요.

<실행>

첫 번째 정수 : 5

두 번째 정수 : 7

<결과>

5와 7의 합은 12

In [ ]:
def func4(a,b):
  return a+b

In [ ]:

num1 = int(input('첫 번째 정수 : '))
num2 = int(input('두 번째 정수 : '))

total = func4(num1, num2)

print('{}와 {}의 합은 {}'.format(num1, num2, total))

첫 번째 정수 : 5
두 번째 정수 : 7
5와 7의 합은 12

### 문제5
food, price라는 변수가 있을 때, 두 개의 인자를 이용하여 아래와 같이 딕셔너리를 만들어 반환하는 함수 menu()를 생성해보세요.

<출력결과>

{'메뉴' : '피자', '가격' : 20000}

In [ ]:
def menu(s,i):
  return {'메뉴':s,'가격':i}

In [ ]:
#함수를 생성한 뒤 실행하세요
food = '피자'
price = 5000

print(menu(food, price))

{'메뉴': '피자', '가격': 5000}

## 난이도업!(2단계)

### 문제1
다음과 같이 3개의 리스트가 있을 때, 1개의 리스트를 인자로 받고 새로운 값을 입력받아 리스트에 추가한 뒤, 

다시 그 리스트를 반환하는 함수를 만들어보세요.

<함수이름 : nation()>

- 리스트를 인자로 받음
- 새로운 값을 입력받아 해당 리스트에 추가함(append사용)
- 변경된 리스트를 반환

In [ ]:
#nation
def nation(l):
  li=[]
  li=input('새로운 값을 입력')
  l.append(li)
  return l

In [ ]:
#함수를 생성한 뒤 실행하세요
Asia = ['Korea', 'Japan', 'China']
Europe = ['Italy', 'Spain', 'England']
Africa = ['Morocco', 'South Africa', 'Sudan']

Europe = nation(Europe) 
print(Europe)

새로운 값을 입력paris
['Italy', 'Spain', 'England', 'paris']

### 문제2
주문할 커피와 쥬스의 갯수를 함수 인자로 입력하면 계산해야 할 총 금액을 반환하는 함수를 만들고자 한다.

다음 price() 함수 내에서 들어가야 할 코드를 입력하세요.

In [ ]:
#price
def price(c,j):
  return 5000*c+3000*j

In [ ]:
#함수를 생성한 뒤 실행하세요
cof = int(input('주문할 커피 갯수 : '))
jui = int(input('주문할 음료수 갯수 : '))

total = price(cof, jui)
print('총 금액 : {}원'.format(total))

주문할 커피 갯수 : 2
주문할 음료수 갯수 : 3
총 금액 : 19000원

### 문제3
1개의 정수를 인자로 입력받은 뒤 홀수인지 짝수인지 판별하여 출력하는 함수를 만들어보세요.

In [ ]:
#func
def func(a):
  if a%2==0: return print('짝수입니다.')
  else: return print('홀수입니다.')

In [ ]:
func(20)

짝수입니다.

### 문제4
점수를 인자로 입력하면 성적을 출력하는 함수를 만드려고 합니다.

점수가 90점 이상이면 'A', 80점 이상이면 'B', 70점 이상이면 'C', 그 외에는 'D'를 반환하는 함수를 만들어보세요.

In [ ]:
#score
def score(a):
  if(a>=90): return 'A'
  elif(a>=80): return 'B'
  elif(a>=70): return 'C'
  else: return 'D'

In [ ]:
print(score(85))

B

### 문제5
인자로 입력받은 수에 10을 곱한 값을 출력하는 함수를 만드려고 할 때, 인자를 가변인자로 설정한 함수를 생성해보세요.

In [ ]:
#func
def func(a,*args):
  if bool(args):
    n= len(args)
    sum=0
    for i in range(0,n):
      sum+=args[i]
    return (a+sum)*10  
  else: return a*10

In [ ]:

func(1,2,3,4,5)

150

### 문제6
아래와 같이 '수학', '과학', '국어' 데이터를 리스트로 형변환해주는 함수를 만들어보세요.

In [ ]:
#to_list
def to_list(a,b,c):
  ls=[]
  ls.append(a)
  ls.append(b)
  ls.append(c)
  return ls

In [ ]:
sub_list = to_list('수학', '과학', '국어')
sub_list

['수학', '과학', '국어']

### 문제7
info() 함수는 가변인자를 key값을 가진 딕셔너리 형태의 변수로 만들어주는 함수입니다. 

아래 결과와 같이 딕셔너리를 만들기 위해서 입력해야 할 코드를 작성해보세요.

In [ ]:
def info(**data):
    keys = data.keys()
    dic={}
    for k in keys:
      if(k=='name'):
        dic['이름']=data[k]
      elif(k=='age'):
        dic['나이']=data[k]
      elif(k=='number'):
        dic['번호']=data[k]
      else: print('오류')
    return dic

In [ ]:
name = '홍길동'
age = 20
number = '010-1234-5678'

#한 줄로 코드 입력
info(**{'name' : name,'age' : age,'number' : number})

{'나이': 20, '번호': '010-1234-5678', '이름': '홍길동'}

### 문제8
인자로 입력받은 정수에 100을 곱해주는 함수를 람다함수로 만들고, 5를 넣어 실행해보세요.

In [ ]:
a= int(input())
l=[]
l.append(a)
result=list(map(lambda a:a*100,l))
print(result)

5
[500]



























### 문제9
음식 이름과 가격을 사용자로부터 입력받아서,

아래와 같이 형식지정 출력으로 출력해주는 람다함수를 만들어보세요.

In [ ]:
food = input('음식을 입력하세요 : ')
price = input('가격을 입력하세요 : ')


# 코드 입력(한 줄로만 입력)
print_order = lambda f,p: print('{}의 가격은 {}원 입니다.'.format(f,p))


print_order(food, price)

음식을 입력하세요 : 피자
가격을 입력하세요 : 10000
피자의 가격은 10000원 입니다.

### 문제10
다음과 같이 정수가 들어있는 리스트가 있다.

모든 정수를 abs()를 이용하여 절대값으로 바꾼 뒤,

sum()과 len()을 이용하여 평균을 구해보세요.

In [ ]:
num = [30, -20, 40, 50, -10]

n=len(num)

for i in range(0,n):
  num[i]=abs(num[i])

avr= sum(num) / n
print (avr)

30.0

### 문제11
다음과 같이 문자열이 있을 때, split()을 이용하여 info_list를 만들고,

아래와 같이 출력되도록 코드를 작성하세요.

<출력결과>

이름 : 홍길동, 나이 : 20, 전화번호 : 010-1234-5678

In [ ]:
info = '홍길동 20 010-1234-5678'
info_list=info.split(' ')
print('이름:{},나이:{},전화번호:{}'.format(info_list[0],info_list[1],info_list[2]))

이름:홍길동,나이:20,전화번호:010-1234-5678

### 문제12
다음과 같이 문자열이 있을 때, strip()을 이용하여 아래와 같이 출력되도록 코드를 작성하세요.

<출력결과>

'Hello!'

In [ ]:
str1 = "$#@^$#Hello!$#@#%^"
str1=str1.lstrip('$#@^$#')
str1=str1.rstrip('$#@#%^')
str1

'Hello!'

### 문제13
다음과 같이 문자열이 있을 때, replace()를 이용하여 아래와 같이 출력되도록 코드를 작성하세요.

<출력결과>

'난 음료수 마실래!'

In [ ]:
str2 = "난 커피 마실래!"
str2=str2.replace('커피','음료수')
str2

'난 음료수 마실래!'

### 문제14
다음과 같이 리스트가 있을 때, join()을 이용하여 아래와 같이 출력되도록 코드를 작성하세요.

<출력결과>

빨강색/노랑색/파랑색/검정색

In [ ]:
color = ['빨강', '노랑', '파랑', '검정']

a='색/'.join(color)

a+'색'

'빨강색/노랑색/파랑색/검정색'

### 문제15
다음과 같이 문자열과 정수로 이루어져 있는 리스트가 있을 때, 

isalpha(), isdigit()을 이용하여 문자열로 이루어진 데이터는 'name' 리스트에,

정수로 이루어진 데이터는 정수형으로 변환하여 'age' 리스트에 저장하세요.

In [ ]:
info = ['지현', '25', '현수', '20', '정현', '23', '민수', '28']

n = len(info)
name=[]
age=[]
for i in range(0,n):
  if info[i].isalpha():
    name.append(info[i])
  elif info[i].isdigit():
    age.append(int(info[i]))


print(name)
print(age)

['지현', '현수', '정현', '민수']
[25, 20, 23, 28]

## 도전해보기!(3단계)

### 문제1
upper() 함수와 lower() 함수는 문자열을 각각 대문자, 소문자로 바꿔주는 내장된 함수입니다.

대문자를 소문자로 바꿔주는 함수를 직접 만들어보세요.

- 함수 이름 : my_lower
- 함수 내에서 eng 딕셔너리 사용
- lower() 외 함수 사용 가능

In [ ]:
def my_lower(str1) :
    eng = {'A': 'a', 'B': 'b', 'C': 'c', 'D': 'd', 'E': 'e', 'F': 'f', 'G': 'g', 'H': 'h', 'I': 'i', 'J': 'j', 'K': 'k',
            'L': 'l', 'M': 'm', 'N': 'n', 'O': 'o', 'P': 'p', 'Q': 'q', 'R': 'r', 'S': 's', 'T': 't', 'U': 'u', 'V': 'v',
            'W': 'w', 'X': 'x', 'Y': 'y', 'Z': 'z'}

    lower_str=''
    
    for str_i,str_v in enumerate(str1): # str
      for eng_i,eng_k in enumerate(eng): # eng
        if(str_v==eng_k): # 대문자
          lower_str+=eng[eng_k]
        elif(str_v==eng[eng_k] or str_v == ' '): # 소문자 공백
          lower_str+=str_v
          break
  
    return lower_str

In [ ]:
str3= my_lower('WelCome TO MY HOMe')
print(str3)

welcome to my home

### 문제2-1
정수를 인자로 입력받으면 절대값으로 반환해주는 함수 to_abs()를 만들어보세요.

In [ ]:
def to_abs(num):
  if(num>0):
    return num
  elif(num == 0):
    return 0
  else:
    num = num * -1
    return num

### 문제2-2
to_abs()를 적절히 이용하여 입력받은 리스트의 원소를 절대값 크기로 내림차순 정렬해주는 함수를 만들어보세요.

In [ ]:
def sort_data(x_list):
  # 절대값 가진 딕셔너리 abs_dic
  abs_dic={}
  for i,v in enumerate(x_list):
    abs_dic[to_abs(v)]=v
  # 딕셔너리의 key 값을 내림차순 저장된 리스트 lower_list
  keys_list=list(abs_dic.keys())
  lower_list=[]

  for i_list,v_list in enumerate(keys_list):
    lower_list.append(v_list)

  lower_list.sort(reverse=True)

  # 절대값 크기로 내림차순 된 리스트 result_list
  result_list = []
    
  for i_list,v_list in enumerate(lower_list): 
    for i_dic,k_dic in enumerate(abs_dic):
      if(k_dic == v_list):
        result_list.append(abs_dic[k_dic])

  return result_list

In [ ]:
#함수를 생성한 뒤 실행하세요
x = [4, -5, 10, -15]
print(sort_data(x))

[-15, 10, -5, 4]

### 문제3
가변 매개변수를 이용해 입력받은 수의 평균을 구하는 average() 함수와

합을 구하는 sum() 함수를 구현하세요.

<실행>

print(my_average(1,2,3))

print(my_sum(1,2,3))

<출력 결과>

2

6

In [ ]:
#my_average

def my_average(*arg_list):
  sum_ma=0
  cnt_ma=0
  for i_list,v_list in enumerate(arg_list):
    sum_ma += v_list
    cnt_ma +=1
  
  return int(sum_ma/cnt_ma)



#my_sum
def my_sum(*arg):
  sum_ms =0
  for i,v in enumerate(arg):
    sum_ms += v
  
  return sum_ms

In [ ]:
print(my_average(*[1, 2, 3, 4, 5]))
print(my_sum(1, 2, 3, 4, 5))

print(my_average(1,2,3))

print(my_sum(1,2,3))

3
15
2
6

### 문제4
다음과 같이 정수가 중복으로 이루어져 있는 리스트가 여러 개 있을 때,

특정 리스트에 원하는 값을 인자로 입력하면 인덱스(위치)를 리턴해주는 함수를 만들어보세요.

<실행>

find_index(list2, 3)

<결과>

[2, 4, 7]

In [ ]:
#find_index

def find_index(list,find_v):
  result_list=[]
  for i_list,v_list in enumerate(list):
    if(find_v == v_list):
      result_list.append(i_list)
  
  return result_list

In [ ]:
#함수를 생성한 뒤 실행하세요
list1 = [1,3,2,4,2,1,5,3,3,2]
list2 = [2,5,3,2,3,4,1,3,2,4]
list3 = [5,4,3,2,4,3,2,5,3,2]

find_index(list2,3)

[2, 4, 7]